<div>
<br/>
  <table>
    <tr><td colspan="2">Company Details</td></tr>
    <tr><td>Listed Name: </td><td>{{companyDetail?.listName}}</td></tr>
    <tr><td>NASDAQ:</td><td>{{companyDetail?.tickerName}} {{companyDetail?.open}}</td></tr>
    <tr><td>All time High:</td><td>{{companyDetail?.high}}</td></tr>
    <tr><td>All time low: </td><td>{{companyDetail?.low}}</td></tr>
    <tr><td>52 Week High:</td><td>{{companyDetail?.weekHigh52}}</td></tr>
    <tr><td>52 Week Low: </td><td>{{companyDetail?.weekLow52}}</td></tr>
    <tr><td>MktCap: </td><td>{{companyDetail?.marketCap}}</td></tr>
    <tr><td>Prev.Close</td><td>{{companyDetail?.prevClose}}</td></tr>
    <tr><td>P/E Ratio:</td><td>{{companyDetail?.peRatio}}</td></tr>
    <tr><td>Yield: </td><td>{{companyDetail?.yield}}</td></tr>
    <tr><td colspan="2">{{companyDetail?.summary}}</td></tr>
  </table>
</div>
